<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FoodTracker Login</title>
  <link rel="stylesheet" href="RESOUCER/CSS/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-login">
    <div class="login-section">
      <div class="header">
        <img src="RESOUCER/IMG/Recurso-2.png" alt="Restaurante" />
      </div>
      <form id="loginForm">
        <span id="errorMsg" class="errorMsg"></span>
        <span id="successMsg" class="successMsg"></span>
        <input type="text" id="username" placeholder="Usuario" />
        <input type="password" id="password" placeholder="Password" />
        <label class="checkbox-container">
          <input class="custom-checkbox" type="checkbox" id="keepLogged" />
          Mantener la sesión abierta
        </label>
      </form>
      <button onclick="login()">INGRESAR</button>
    </div>

    <div class="image-section">
      <img src="RESOUCER/IMG/Recurso-1.png" alt="Escena de restaurante" />
    </div>
  </div>

  <script src="../CONTROLLERS/index.js"></script>
</body>
</html>
